<!DOCTYPE HTML>
<html>
<head>
<title>A PROJECT LIFE</title>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta name="description" content="" />
<meta name="keywords" content="" />
<!--[if lte IE 8]><script src="css/ie/html5shiv.js"></script><![endif]-->
<script src="js/jquery.min.js"></script>
<script src="js/jquery.dropotron.min.js"></script>
<script src="js/skel.min.js"></script>
<script src="js/skel-layers.min.js"></script>
<script src="js/init.js"></script>
<noscript>
	<link rel="stylesheet" href="css/skel.css" />
	<link rel="stylesheet" href="css/style.css" />
</noscript>
<style>
.left-center {
	text-align: center;
}

.left-center p {
	display: inline-block;
	text-align: left;
}
</style>
<!--[if lte IE 8]><link rel="stylesheet" href="css/ie/v8.css" /><![endif]-->
</head>
<body class="homepage">

	<!-- Header Wrapper -->
	<div class="wrapper style1">

		<!-- Header -->
		<div id="header">
			<div class="container">

				<!-- Logo -->
				<h1>
					<a href="#" id="logo">Solarize</a>
				</h1>

				<!-- Nav -->
				<nav id="nav">
					<ul>
						<li class="active"><a href="/index.html">Home</a></li>
						<li><a href="">ABOUT</a></li>
					</ul>
				</nav>

			</div>
		</div>

		<!-- Banner -->
		<div id="banner">
			<section class="container">
				<h2>A PROJECT LIFE</h2>
			</section>
		</div>

	</div>

	<!-- Section One -->
	<div class="wrapper style2">
		<section class="container" style="text-align: center">
			<h3>アクロス結局どれが好き？</h3>
			<div class="left-center">
				<p>
				<br>おはようございます。こんにちは。こんばんは。アクロスもクラコレを筆頭にいまや第10弾まで出ましたね！！ <br>私は5号機から打ち出したので、リバイバルって感じはしなく毎回新鮮な気持ちで楽しませてもらってます。
				<br>しかし最近ではだいぶ機種設置はHANABI、VERSUS以外は設置状況が悪くなっている傾向にあり、B-MAX、サンダーなどを設置しているホールを見ると
				<br>「このホールやるやん。。」とか思ってしまうくらいです。(検定切れとかもあるけど)
				<br> <br>ちなみに、個人的ランキングは1位ゲッタマ、2位B-MAX、3位サンダーVリボルトですね。(最近よく行くホールでは全滅)
				<br>基本的にスイカ毎回狙わ無くてもいいのが好きなんですよね。スイカ毎回狙うのって結構ストレスになりますよね。。 <br>
				<br>皆さんはどの機種が好きですか？よければ投票してみてください。 <br> <br>
				</p>
			</div>
		</section>
	</div>

			<!-- Section Three -->
			<div class="wrapper style4">
				<section class="container">
					<header class="major">
						<h2>歴戦のA-PROJECTシリーズ</h2>
						<span class="byline">みなさんはどの機種がお気に入りかな？</span>
					</header>
					<div class="row flush">
						<div class="4u">
							<ul class="special-icons">
								<li>
									<span class="fa fa-cogs"></span>
									<h3>クランキーコレクション</h3>
									<p>テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
								</li>
								<li>
									<span class="fa fa-wrench"></span>
									<h3>B-MAX</h3>
									<p>テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
								</li>
								<li>
									<span class="fa fa-leaf"></span>
									<h3>HANABI</h3>
									<p>テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
								</li>
							</ul>
						</div>
						<div class="4u">
							<ul class="special-icons">
								<li>
									<span class="fa fa-cogs"></span>
									<h3>サンダーVリボルト</h3>
									<p>テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
								</li>
								<li>
									<span class="fa fa-wrench"></span>
									<h3>ゲッターマウス</h3>
									<p>テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
								</li>
								<li>
									<span class="fa fa-leaf"></span>
									<h3>バーサス</h3>
									<p>テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
								</li>
							</ul>
						</div>
						<div class="4u">
							<ul class="special-icons">
								<li>
									<span class="fa fa-cogs"></span>
									<h3>クランキーセレブレーション</h3>
									<p>テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
								</li>
								<li>
									<span class="fa fa-wrench"></span>
									<h3>タロットエンペラー</h3>
									<p>テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
								</li>
								<li>
									<span class="fa fa-leaf"></span>
									<h3>AREX</h3>
									<p>テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
								</li>
							</ul>
						</div>
					</div>
				</section>
			</div>

	<!-- Footer -->
	<div id="footer">
		<section class="container">
			<header class="major">
				<h2>Spread to everyone</h2>
				<span class="byline">I LOVE SLOT♡</span>
			</header>
			<ul class="icons">
				<li class="active"><a href="#" class="fa fa-facebook"><span>Facebook</span></a></li>
				<li><a href="#" class="fa fa-twitter"><span>Twitter</span></a></li>
				<li><a href="#" class="fa fa-dribbble"><span>Pinterest</span></a></li>
				<li><a href="#" class="fa fa-google-plus"><span>Google+</span></a></li>
			</ul>
			<hr />
		</section>

		<!-- Copyright -->
		<div id="copyright">
			Design: <a href="http://templated.co">TEMPLATED</a> Images: <a
				href="http://unsplash.com">Unsplash</a> (<a
				href="http://unsplash.com/cc0">CC0</a>)
		</div>
	</div>

</body>
</html>